<%= form_for @patient, :html => { :class => "form-horizontal patient" } do |f| %>

    <% if @patient.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<div style="width:400px">
  <div class="control-group">
    <%= f.label :firstname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :firstname, :class => 'form-control' %>
    </div>
    <%= error_span(@patient[:firstname]) %>
  </div>
  <div class="control-group">
    <%= f.label :lastname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lastname, :class => 'form-control' %>
    </div>
    <%= error_span(@patient[:lastname]) %>
  </div>
  <div class="control-group">
    <%= f.label :age, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :age, :class => 'form-control' %>
    </div>
    <%= error_span(@patient[:age]) %>
  </div>
  <div class="control-group">
    <%= f.label :mobile, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mobile, :class => 'form-control' %>
    </div>
    <%= error_span(@patient[:mobile]) %>
  </div>
  <div class="control-group">
    <%= f.label :dob, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dob, :class => 'form-control' %>
    </div>
    <%= error_span(@patient[:dob]) %>
  </div>
  <div class="control-group">
    <%= f.label :doctor, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:patient, :doctor, Doctor.all,:name ,:name) %>
    </div>
    <%= error_span(@patient[:doctor]) %>
  </div>
</div>
<br>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            root_path, :class => 'btn btn-default' %>
<br>
<% end %>
